rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // RPR-VERIFY Storage Sentinel
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
